{
    "openapi": "3.0.0",
    "info": {
        "title": "Desafio Técnico - UPD8",
        "description": "Desafio Técnico - UPD8",
        "contact": {
            "email": "acarlos.os@hotmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://desafioupd8.teste/api",
            "description": "local"
        }
    ],
    "paths": {
        "/cidade": {
            "get": {
                "tags": [
                    "Cidade"
                ],
                "summary": "Return cidades",
                "description": "Return cidades",
                "operationId": "cidade-index",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "properties": {
                                                "types": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": "1"
                                                            },
                                                            "nome": {
                                                                "type": "string",
                                                                "example": "Acrelândia"
                                                            },
                                                            "uf": {
                                                                "type": "string",
                                                                "example": "AC"
                                                            },
                                                            "created_at": {
                                                                "type": "string",
                                                                "format": "date",
                                                                "example": "2024-07-09T22:22:07.000000Z"
                                                            },
                                                            "updated_at": {
                                                                "type": "string",
                                                                "format": "date",
                                                                "example": "2024-07-09T22:22:07.000000Z"
                                                            },
                                                            "deleted_at": {
                                                                "type": "string",
                                                                "format": "date",
                                                                "example": "null"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Wrong error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong error. Please try again"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Cidade"
                ],
                "summary": "Create cidade",
                "description": "Create cidade",
                "operationId": "cidade-store",
                "requestBody": {
                    "description": "Create cidade",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nome",
                                    "uf"
                                ],
                                "properties": {
                                    "nome": {
                                        "type": "string",
                                        "example": "Campinas"
                                    },
                                    "uf": {
                                        "type": "string",
                                        "example": "SP"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "nome": {
                                            "type": "string",
                                            "example": "Campinas"
                                        },
                                        "uf": {
                                            "type": "string",
                                            "example": "SP"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "format": "date",
                                            "example": "2024-07-09T22:22:07.000000Z"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "format": "date",
                                            "example": "2024-07-09T22:22:07.000000Z"
                                        },
                                        "deleted_at": {
                                            "type": "string",
                                            "format": "date",
                                            "example": "null"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Wrong error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong error. Please try again!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/cidade/{id}": {
            "get": {
                "tags": [
                    "Cidade"
                ],
                "summary": "Return cidades",
                "description": "Return cidades",
                "operationId": "cidade-show",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": "1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": "1"
                                                },
                                                "nome": {
                                                    "type": "string",
                                                    "example": "Acrelândia"
                                                },
                                                "uf": {
                                                    "type": "string",
                                                    "example": "AC"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2024-07-09T22:22:07.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2024-07-09T22:22:07.000000Z"
                                                },
                                                "deleted_at": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "null"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Wrong error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong error. Please try again"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Cidade"
                ],
                "summary": "Update cidades",
                "description": "Update cidades",
                "operationId": "cidade-update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": "1"
                    }
                ],
                "requestBody": {
                    "description": "Update cidade",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nome",
                                    "uf"
                                ],
                                "properties": {
                                    "nome": {
                                        "type": "string",
                                        "example": "Acrelândia"
                                    },
                                    "uf": {
                                        "type": "string",
                                        "example": "AC"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": "1"
                                                },
                                                "nome": {
                                                    "type": "string",
                                                    "example": "Acrelândia"
                                                },
                                                "uf": {
                                                    "type": "string",
                                                    "example": "AC"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2024-07-09T22:22:07.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2024-07-09T22:22:07.000000Z"
                                                },
                                                "deleted_at": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "null"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Wrong error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong error. Please try again"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Cidade"
                ],
                "summary": "Delete cidade",
                "description": "Delete cidade",
                "operationId": "cidade-delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": "1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The resource was deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "The resource was deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Wrong error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong error. Please try again"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/cliente": {
            "get": {
                "tags": [
                    "Cliente"
                ],
                "summary": "Return clientes",
                "description": "Return clientes",
                "operationId": "cliente-index",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "properties": {
                                                "types": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": "1"
                                                            },
                                                            "cidade_id": {
                                                                "type": "integer",
                                                                "example": "2"
                                                            },
                                                            "cpf": {
                                                                "type": "string",
                                                                "example": "99999999954"
                                                            },
                                                            "nome": {
                                                                "type": "string",
                                                                "example": "Pedro Oliveira"
                                                            },
                                                            "data_nascimento": {
                                                                "type": "string",
                                                                "format": "date",
                                                                "example": "1982-07-03T00:00:00.000000Z"
                                                            },
                                                            "sexo": {
                                                                "type": "enum",
                                                                "example": "masculino"
                                                            },
                                                            "endereco": {
                                                                "type": "string",
                                                                "example": "Rua Alves cardoso 144"
                                                            },
                                                            "created_at": {
                                                                "type": "string",
                                                                "format": "date",
                                                                "example": "2024-07-09T22:22:07.000000Z"
                                                            },
                                                            "updated_at": {
                                                                "type": "string",
                                                                "format": "date",
                                                                "example": "2024-07-09T22:22:07.000000Z"
                                                            },
                                                            "deleted_at": {
                                                                "type": "string",
                                                                "format": "date",
                                                                "example": "null"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Wrong error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong error. Please try again"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Cliente"
                ],
                "summary": "Create cliente",
                "description": "Create cliente",
                "operationId": "cliente-store",
                "requestBody": {
                    "description": "Create cliente",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nome",
                                    "cpf",
                                    "data_nascimento",
                                    "sexo",
                                    "endereco",
                                    "cidade_id"
                                ],
                                "properties": {
                                    "cidade_id": {
                                        "type": "integer",
                                        "example": "1"
                                    },
                                    "nome": {
                                        "type": "string",
                                        "example": "Maria Eduarda Oliveira"
                                    },
                                    "cpf": {
                                        "type": "string",
                                        "example": "99999999912"
                                    },
                                    "data_nascimento": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "1982/07/03"
                                    },
                                    "sexo": {
                                        "type": "enum",
                                        "example": "masculino ou feminino"
                                    },
                                    "endereco": {
                                        "type": "string",
                                        "example": "Rua Alves cardoso 144"
                                    },
                                    "uf": {
                                        "type": "string",
                                        "example": "SP"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "cidade_id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "nome": {
                                            "type": "string",
                                            "example": "Maria Eduarda Oliveira"
                                        },
                                        "cpf": {
                                            "type": "string",
                                            "example": "99999999912"
                                        },
                                        "data_nascimento": {
                                            "type": "string",
                                            "format": "date",
                                            "example": "1982/07/03"
                                        },
                                        "sexo": {
                                            "type": "enum",
                                            "example": "masculino ou feminino"
                                        },
                                        "endereco": {
                                            "type": "string",
                                            "example": "Rua Alves cardoso 144"
                                        },
                                        "uf": {
                                            "type": "string",
                                            "example": "SP"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "format": "date",
                                            "example": "2024-07-09T22:22:07.000000Z"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "format": "date",
                                            "example": "2024-07-09T22:22:07.000000Z"
                                        },
                                        "deleted_at": {
                                            "type": "string",
                                            "format": "date",
                                            "example": "null"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Wrong error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong error. Please try again!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/cliente/{id}": {
            "get": {
                "tags": [
                    "Cliente"
                ],
                "summary": "Return clientes",
                "description": "Return clientes",
                "operationId": "cliente-show",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": "1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": "1"
                                                },
                                                "cidade_id": {
                                                    "type": "integer",
                                                    "example": "1"
                                                },
                                                "cpf": {
                                                    "type": "string",
                                                    "example": "99999999923"
                                                },
                                                "nome": {
                                                    "type": "string",
                                                    "example": "Pedro Oliveira"
                                                },
                                                "data_nascimento": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "1982/07/03"
                                                },
                                                "sexo": {
                                                    "type": "enum",
                                                    "example": "masculino"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2024-07-09T22:22:07.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2024-07-09T22:22:07.000000Z"
                                                },
                                                "deleted_at": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "null"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Wrong error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong error. Please try again"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Cliente"
                ],
                "summary": "Update clientes",
                "description": "Update clientes",
                "operationId": "cliente-update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": "1"
                    }
                ],
                "requestBody": {
                    "description": "Update cliente",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "cidade_id": {
                                        "type": "integer",
                                        "example": "1"
                                    },
                                    "nome": {
                                        "type": "string",
                                        "example": "Maria Eduarda Oliveira"
                                    },
                                    "cpf": {
                                        "type": "string",
                                        "example": "99999999912"
                                    },
                                    "data_nascimento": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "1982/07/03"
                                    },
                                    "sexo": {
                                        "type": "enum",
                                        "example": "masculino ou feminino"
                                    },
                                    "endereco": {
                                        "type": "string",
                                        "example": "Rua Alves cardoso 144"
                                    },
                                    "uf": {
                                        "type": "string",
                                        "example": "SP"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": "1"
                                                },
                                                "cidade_id": {
                                                    "type": "integer",
                                                    "example": "1"
                                                },
                                                "nome": {
                                                    "type": "string",
                                                    "example": "Maria Eduarda Oliveira"
                                                },
                                                "cpf": {
                                                    "type": "string",
                                                    "example": "99999999912"
                                                },
                                                "data_nascimento": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "1982/07/03"
                                                },
                                                "sexo": {
                                                    "type": "enum",
                                                    "example": "feminino"
                                                },
                                                "endereco": {
                                                    "type": "string",
                                                    "example": "Rua Alves cardoso 144"
                                                },
                                                "uf": {
                                                    "type": "string",
                                                    "example": "SP"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2024-07-09T22:22:07.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2024-07-09T22:22:07.000000Z"
                                                },
                                                "deleted_at": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "null"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Wrong error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong error. Please try again"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Cliente"
                ],
                "summary": "Delete cliente",
                "description": "Delete cliente",
                "operationId": "cliente-delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": "1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The resource was deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "The resource was deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Wrong error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong error. Please try again"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/representante": {
            "get": {
                "tags": [
                    "Representante"
                ],
                "summary": "Return representantes",
                "description": "Return representantes",
                "operationId": "representante-index",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "properties": {
                                                "types": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": "1"
                                                            },
                                                            "nome": {
                                                                "type": "string",
                                                                "example": "Lucas Oliveira"
                                                            },
                                                            "created_at": {
                                                                "type": "string",
                                                                "format": "date",
                                                                "example": "2024-07-09T22:22:07.000000Z"
                                                            },
                                                            "updated_at": {
                                                                "type": "string",
                                                                "format": "date",
                                                                "example": "2024-07-09T22:22:07.000000Z"
                                                            },
                                                            "deleted_at": {
                                                                "type": "string",
                                                                "format": "date",
                                                                "example": "null"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Wrong error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong error. Please try again"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Representante"
                ],
                "summary": "Create representante",
                "description": "Create representante",
                "operationId": "representante-store",
                "requestBody": {
                    "description": "Create representante",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nome",
                                    "uf",
                                    "cidade_id"
                                ],
                                "properties": {
                                    "cidade_id": {
                                        "type": "integer",
                                        "example": "1"
                                    },
                                    "nome": {
                                        "type": "string",
                                        "example": "Lucas Oliveira"
                                    },
                                    "uf": {
                                        "type": "string",
                                        "example": "SP"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "nome": {
                                            "type": "string",
                                            "example": "Lucas Oliveira"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "format": "date",
                                            "example": "2024-07-09T22:22:07.000000Z"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "format": "date",
                                            "example": "2024-07-09T22:22:07.000000Z"
                                        },
                                        "deleted_at": {
                                            "type": "string",
                                            "format": "date",
                                            "example": "null"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Wrong error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong error. Please try again!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/representante/{id}": {
            "get": {
                "tags": [
                    "Representante"
                ],
                "summary": "Return representantes",
                "description": "Return representantes",
                "operationId": "representante-show",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": "1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": "1"
                                                },
                                                "nome": {
                                                    "type": "string",
                                                    "example": "Maria Eduarda"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2024-07-09T22:22:07.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2024-07-09T22:22:07.000000Z"
                                                },
                                                "deleted_at": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "null"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Wrong error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong error. Please try again"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Representante"
                ],
                "summary": "Update representantes",
                "description": "Update representantes",
                "operationId": "representante-update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": "1"
                    }
                ],
                "requestBody": {
                    "description": "Update representante",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "cidade_id",
                                    "nome",
                                    "uf"
                                ],
                                "properties": {
                                    "cidade_id": {
                                        "type": "integer",
                                        "example": "1"
                                    },
                                    "nome": {
                                        "type": "string",
                                        "example": "Acrelândia"
                                    },
                                    "uf": {
                                        "type": "string",
                                        "example": "AC"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": "1"
                                                },
                                                "nome": {
                                                    "type": "string",
                                                    "example": "Acrelândia"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2024-07-09T22:22:07.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2024-07-09T22:22:07.000000Z"
                                                },
                                                "deleted_at": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "null"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Wrong error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong error. Please try again"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Representante"
                ],
                "summary": "Delete representante",
                "description": "Delete representante",
                "operationId": "representante-delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": "1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The resource was deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "The resource was deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Wrong error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong error. Please try again"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "tags": [
        {
            "name": "Cidade",
            "description": "Cidade"
        },
        {
            "name": "Cliente",
            "description": "Cliente"
        },
        {
            "name": "Representante",
            "description": "Representante"
        }
    ]
}